@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Rampart+One&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --color-one: #E4D4C8;
    --color-two: #D0B49F;
    --color-three: #A47551;
    --color-four: #523A28;
}

/*
font-family: 'Klee One', cursive;
font-family: 'Rampart One', cursive;
font-family: 'Space Grotesk', sans-serif;
*/

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--color-one);
    color: var(--color-four);
}

.font-rampart {
    font-family: 'Rampart One', cursive;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

a.custom-card:hover .card {
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.3);
}

.bc-sanjaya-1 {
    border-color: var(--color-one) !important;
}

.bc-sanjaya-2 {
    border-color: var(--color-two) !important;
}

.bc-sanjaya-3 {
    border-color: var(--color-three) !important;
}

.bc-sanjaya-4 {
    border-color: var(--color-four) !important;
}

.bg-sanjaya-1 {
    background: var(--color-one) !important;
    background-color: var(--color-one) !important;
}

.bg-sanjaya-2 {
    background: var(--color-two) !important;
    background-color: var(--color-two) !important;
}

.bg-sanjaya-3 {
    background: var(--color-three) !important;
    background-color: var(--color-three) !important;
}
.bg-sanjaya-4 {
    background: var(--color-four) !important;
    background-color: var(--color-four) !important;
}

.cl-sanjaya-1 {
    color: var(--color-one) !important;
}

.cl-sanjaya-2 {
    color: var(--color-two) !important;
}

.cl-sanjaya-3 {
    color: var(--color-three) !important;
}

.cl-sanjaya-4 {
    color: var(--color-four) !important;
}

.nav-link {
    color: var(--color-one) !important;
}

.nav-link.active {
    color: var(--color-two) !important;
}

.navbar-brand,
.navbar-brand:hover {
    font-family: 'Rampart One', cursive;
    color: var(--color-two);
}

.section-content {
    padding: 120px 0;
}

a.amazing-link {
    text-decoration: none;
    color: var(--color-one);
    font-style: italic;
    transition: .5s all;
    position: relative;
}

a.amazing-link:after {
    transition: .5s all;
    position: absolute;
    content: " ";
    width: 0;
    height: 3px;
    background: var(--color-three);
    left: 0;
    bottom: -2px;
}

a.amazing-link:hover:after {
    width: 100%;
}

a.amazing-link:hover {
    letter-spacing: 2px;
}

.btn-sanjaya,
.btn-sanjaya:active {
    background: var(--color-four) !important;
    border-color: var(--color-four) !important;
}

.btn-sanjaya:hover {
    border-color: var(--color-three) !important;
    background: var(--color-three) !important;
}